body.dark p {
  color: rgb(255, 255, 255);
}

body.dark .steps__content-width > p {
  color: rgb(255, 255, 255);
}

body.dark .steps__content-width > a {
  color: white;
  border: 1px solid white;
}

body.dark .text-white > p {
  color: rgb(255, 255, 255);
}
